<!DOCTYPE html>
<html>
<head>
<title>新闻</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="Themes/Css/index.css" rel="stylesheet" />
<link href="Themes/Css/news.css" rel="stylesheet" />
</head>
<body>
<!-- 背景开始 -->
<div id="bg"></div>
<!-- 背景结束 -->
<!--新闻开始-->
<div id="news">
	<ul>
		<li class="news_1"><a href="#">招新通知</a></li>
		<li class="news_2"><a href="#">2104年会议记录</a></li>
		<li class="news_1"><a href="#">2114年会议记录</a></li>
		<li class="news_2"><a href="#">2124年会议记录</a></li>
		<li class="news_1"><a href="#">计算机设计大赛</a></li>
		<li class="news_2"><a href="#">蓝桥杯通知</a></li>
		<li class="news_1"><a href="#">考试安排</a></li>
		<li class="news_2"><a href="#">重要讲话</a></li>
		<li class="news_1"><a href="#">招新通知</a></li>
		<li class="news_2"><a href="#">2104年会议记录</a></li>
		<li class="news_1"><a href="#">2114年会议记录</a></li>
		<li class="news_2"><a href="#">2124年会议记录</a></li>
		<li class="news_1"><a href="#">计算机设计大赛</a></li>
		<li class="news_2"><a href="#">蓝桥杯通知</a></li>
		<li class="news_1"><a href="#">考试安排</a></li>
		<li class="news_2"><a href="#">重要讲话</a></li>	
	</ul>
</div>
<!--新闻开始-->
<!-- 导航条开始 -->
<div id="dh">	
</div>
<div id="dh_dh">
<img src="Themes/Image/logo.png">
	<ul>
		<li><a href="index.html">首页</a></li>
		<li><a href="news.html">新闻</a></li>
		<li><a href="#">论坛</a></li>
		<li><a href="#">问答</a></li>
		<li><a href="#">关于</a></li>
	</ul>
	<div id="but">
	<a href="register.html"><img src="Themes/Image/zc.png"></a>
	<a href="login.html"><img src="Themes/Image/dl.png"></a>
	</div>
</div>
<!-- 导航条结束 -->
</body>
</html>