<!DOCTYPE html>
<html>
<head>
<title>计算机软件工作研究室</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="计算机软件工作研究室">
<meta name="description" content="计算机软件工作研究室">
<link href="App/Themes/Lib/bootstrap-3.3.0-dist/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="App/Themes/Lib/bootstrap-3.3.0-dist/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
<script src="App/Themes/Js/jquery-2.1.1.js"></script>
<script src="App/Themes/Lib/bootstrap-3.3.0-dist/dist/js/bootstrap.min.js"></script>
<link href="App/Themes/Css/index.css" rel="stylesheet" />	
</head>
<body>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="App/Themes/Image/1.jpg">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="App/Themes/Image/2.jpg">
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <img src="App/Themes/Image/3.jpg">
      <div class="carousel-caption">
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- 主页中间 -->
<div id="zyzj">
	<img src="App/Themes/Image/z1.png">
</div>
<!-- 主页中部结束 -->
<!-- 导航条开始 -->
<div id="dh">	
</div>
<div id="dh_dh">
<img src="App/Themes/Image/logo.png">
	<ul>
		<li><a href="index.html">首页</a></li>
		<li><a href="?c=home&a=news">新闻</a></li>
    <li><a href="#">相册</a></li>
		<li><a href="#">论坛</a></li>
		<li><a href="#">问答</a></li>
		<li><a href="#">关于</a></li>
	</ul>
	<div id="but">
	<a href="?c=home&a=register"><img src="App/Themes/Image/zc.png"></a>
	<a href="?c=home&a=login"><img src="App/Themes/Image/dl.png"></a>
	</div>
</div>
<!-- 导航条结束 -->
</body>
</html>