<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>招生简介</title>
	<link href="App/THemes/Css/text.css" rel="stylesheet" />
</head>
<body>
	<div class="bg">
	<h1>招生咨询</h1>
	<p>
		网易科技讯 12月9日消息，据国外媒体报道，今日索尼影业再次受到网络攻击，它PlayStation
		在线商店出现了两个多小时无法登陆的情况。就在上个月索尼影视娱乐的计算机网络被黑客攻击
		，而在此之前索尼娱乐好几部电影被非法泄露到盗版网站，包括即将上映的圣诞电影《安妮》。
		索尼旗下视频游戏子公司索尼计算机娱乐公司表示PlayStation Network （简称PSN）在东京时间早晨8点52分至11.18分出现了系统故障，试图登陆PlayStation在线商店的用户只接受到一条
		消息：页面无法找到，这不是你的问题，这是网络的错。
	    公司表示已经对这一问题进行修复，尽管他们仍在调查网络故障的起因。目前索尼尚未接收到任
		何显示信息被泄露或者窃取的报告。
		名为Lizard Squad的黑客组织似乎是这一次攻击的发起者，在PSN网站出现故障后他们在推特上
		发布消息 “PSN登陆 #离线 #Lizard Squad”，这一黑客组织在上周微软Xbox Live服务无法登
		陆后也发布了相似推文“Xbox Live #离线”。
	</p>
</div>
<div class="bg">
	<h1>&nbsp;</h1>
	<p>
		网易科技讯 12月9日消息，据国外媒体报道，今日索尼影业再次受到网络攻击，它PlayStation
		在线商店出现了两个多小时无法登陆的情况。就在上个月索尼影视娱乐的计算机网络被黑客攻击
		，而在此之前索尼娱乐好几部电影被非法泄露到盗版网站，包括即将上映的圣诞电影《安妮》。
		索尼旗下视频游戏子公司索尼计算机娱乐公司表示PlayStation Network （简称PSN）在东京时间早晨8点52分至11.18分出现了系统故障，试图登陆PlayStation在线商店的用户只接受到一条
		消息：页面无法找到，这不是你的问题，这是网络的错。
	    公司表示已经对这一问题进行修复，尽管他们仍在调查网络故障的起因。目前索尼尚未接收到任
		何显示信息被泄露或者窃取的报告。
		名为Lizard Squad的黑客组织似乎是这一次攻击的发起者，在PSN网站出现故障后他们在推特上
		发布消息 “PSN登陆 #离线 #Lizard Squad”，这一黑客组织在上周微软Xbox Live服务无法登
		陆后也发布了相似推文“Xbox Live #离线”。
	</p>
</div>
</body>
</html>